*
{
	margin: 0;
	padding: 0;
	outline: 0;
	box-sizing: border-box;
	border-collapse: collapse;
	color: #313;
}
body
{
	font-family: sans;
}
h1
{
	text-align: center;
	background: #dcf;
}
form
{
	display: flex;
	background: #a8c;
	padding: 0.25em;
	align-items: flex-stretch;
	justify-content: center;
	box-shadow: 0.25em 0.25em 0.5em #ddd;
}
form a
{
	flex-grow: 1;
	position: relative;
}
form a[rel="prev"]::before,
form a[rel="next"]::before
{
	position: absolute;
	content: "";
	width: 0;
	height: 0;
	border-width: 0.5em;
	border-style: solid;
	border-color: transparent #638;
	top: 50%;
	margin-top: -0.5em;
}
form a[rel="prev"]::before
{
	border-left: none;
	left: 0;
}
form a[rel="next"]::before
{

	border-right: none;
	right: 0;
}
input
{
	border: none;
	line-height: 1em;
	font-size: 1rem;
	padding: 0 0.25em;
}
input[type="date"]
{
	flex-shrink: 1;
	min-width: 5em;
}
input[type="submit"]
{
	background: #638;
	color: #ede;
}
input:first-of-type
{
	border-radius: 0.25em 0 0 0.25em;
	margin-left: 0.25em;
}
input:last-of-type
{
	border-radius: 0 0.25em 0.25em 0;
}
@media print
{
	* {
		color: #000;
		box-shadow: none!important;
	}
	form, h1
	{
		background: none;
		text-align: left;
		justify-content: left;
	}
	form *
	{
		padding: 0;
		margin: 0;
	}
	input[type=submit] {
		display: none;
	}
}
#totals
{
	padding-left: 0.25em;
	display: flex;
	align-items: center;
	list-style-type: none;
	background: #444;
	padding: 0.25em;
}
#totals.warning
{
	background: #600;
}
#totals > li
{
	color: #fff;
	font-weight: bold;
}
#totals .payments::before
{
	content: "=";
	margin-right:0.25ex;
}
#totals.warning .payments::before
{
	content: "≠"
}
#totals .payments::after
{
	content: "paid";
	font-weight: normal;
	font-style: italic;
	margin-left: 0.5ex;
}
#subtotal::before
{
	content: "Sales: ";
	font-style: italic;
	font-weight: normal;
}
#taxes ul
{
	display: flex;
	list-style-type: none;
	align-items: center;
	background: #fff;
	border-radius: 0.375em;
	padding: 0 0.25em;
	margin: 0 0.5em;
	font-weight: normal;
}
#taxes ul::before
{
	font-style: italic;
	content: "Taxes: ";
}
#taxes li:not(.total)
{
	background: #bbb;
	padding: 0 0.25em;
	margin: 0.25em;
	border-radius: 0.375em;
	overflow: hidden;
}
#taxes li.total
{
	font-weight: bold;
}
#taxes li::before
{
	background: #222;
	color: #fff;
	margin: 0 0.25em 0 -0.25em;
	padding: 0 0.25em;
}
#pst::before
{
	content: "PST";
}
#gst::before
{
	content: "GST";
}
#totals > .total::before
{
	content: "Total: ";
	font-style: italic;
	font-weight: normal;
}
section
{
	background: #fff;
	font-family: monospace;
	display: flex;
	line-height: 1.25em;
	font-size: 1.125em;
	align-items: center;
	padding: 0.25em 0;
}
label:nth-child(even) section
{
	background: #e3e3e3;
}
section.warning
{
	background: #fcc;
}
label:nth-child(even) section.warning
{
	background: #ebb;
}
section *
{
	vertical-align: middle;
}
section input
{
	margin-right: 0.25em;
}
section header .id
{
	margin-right: 0.25em;
	font-weight: bold;
	background: #222;
	color: #fff;
	padding: 0 0.25em;
	border-radius: 0.375em;
	display: inline-block;
	min-width: 6ex;
	text-align: center;
}
section header time
{
	display: inline-block;
}
.payments
{
	list-style-type: none;
	display: inline-block;
	padding: 0 0.125em;
	display: flex;
	flex-grow: 1;
	align-items: center;
}
.payments li
{
	display: inline-block;
	margin: 0 0.125em;
	background: #bbb;
	border-radius: 0.375em;
	overflow: hidden;
	display: flex;
}
.warning .payments li
{
	background: #d88;
}
.payments li .method
{
	padding: 0 0.25em 0 0.5em;
	background: #222;
	color: #fff;
}
.warning .payment .method,
.warning header .id
{
	background: #622;
}
.payments li .amount
{
	padding: 0 0.5em 0 0.25em;
}
.payments .spacer
{
	flex: 1;
}
.payments .total
{
	padding: 0 0.25em 0 0.5em;
	font-weight: bold;
	margin-right: 0;
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
}
.payments .total::after
{
	content: "paid";
	font-weight: normal;
	margin-left: 0.5ex;
	font-style: italic;
}
.payments .sales
{
	padding: 0 0.5em 0 0.25em;
	margin-left: 0;
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
	font-weight: bold;
}
.payments .sales::before
{
	font-weight: normal;
	content: "=";
	margin-right: 0.5em;
}
.warning .payments .sales::before
{
	font-weight: bold;
	content: "≠"
}
.payments .sales::after
{
	content: "sold";
	font-weight: normal;
	margin-left: 0.5ex;
	font-style: italic;
}
